__pycache__/
*.py[cod]
*.so
*.pyd
*.pyo

venv/
.env/
.env.bak
*.env

*.log
*.tmp
*.bak
*.swp

.idea/
*.iml
*.iws

.DS_Store
Thumbs.db
desktop.ini

*.tar
*.img
*.container

*.exe
*.out
*.app
*.class


.ipynb_checkpoints/

secret*.py
secret*.json
config*.py
config*.json

.env
*.env
.env.*

*.pem
*.key
*.crt

*.token
*.credentials

